

@font-face {
    font-family: 'SFProDisplay';
    src: url(fonts/SFProDisplay-Regular.woff2);
    
}
@font-face {
    font-family: 'SFProDisplay bold';
    src: url(fonts/SFProDisplay-bold.woff2);
    
}